mixin radiobutton({name,options, checkedValue}={})
  - mixinCount++;
  .radiobuttons.row-start
    each option in options
      label.radiobuttons__button.row(for=`radio-${mixinCount}-${option.id}`)
        input(
          type="radio",
          id=`radio-${mixinCount}-${option.id}`,
          name=name ? name : `radio-${option.id}`,
          value=option.value,
          checked=option.value === checkedValue
        )
        span.radiobuttons__radio-mark
        span.radiobuttons__label-text= option.value
