mixin toggle({label, checked, name}={})
  - mixinCount++;
  .toggle 
    |
    label.toggle__label(for=`toggle-el-${mixinCount}`)
      input.toggle__input(
        type="checkbox",
        name=name ? name : `toggle-el-${mixinCount}`,
        id=`toggle-el-${mixinCount}`,
        checked=checked
      )
      span.toggle__slider
      span.toggle__label-text= label
