mixin select-plugin(selectCategory, id, label, size)
  .select-plugin
    - let classWrapper = `select-plugin__wrap --${size}-size`;
    - let classSelect = `select-plugin__select select-${selectCategory}`;
    div(class=classWrapper)
      label(for=selectId)= label
      br
      div(class=classSelect, id=id)
