mixin select-plugin({category,label, size}={})
  - mixinCount++;
  .select-plugin
    - let classWrapper = `select-plugin__wrap --${size}-size`;
    - let classSelect = `select-plugin__select select-${category}`;
    div(class=classWrapper)
      label(for=selectId)= label
      br
      div(class=classSelect, id=`select-el-${mixinCount}`)
