mixin like({count, checked}={})
  - mixinCount++;
  .like
    label.like__label(for=`like-el-${mixinCount}`)
      input.like__input.icon-heart-o(
        type="checkbox",
        checked=checked,
        id=`like-el-${mixinCount}`
      )
      span.like__number= count
