mixin datepicker({label,name, placehld,size="--half-size"}={})
  - mixinCount++;
  - let inputTypeClass = `date-dropdown__input`;
  - let compoundId = `datepicker-el-${mixinCount}`;
  div(class=`date-dropdown ${size}`)
    label(for=compoundId)= label
    br
    input(
      type="text",
      placeholder=placehld,
      name=name ? name : compoundId,
      class=inputTypeClass,
      id=compoundId
    )

mixin filter-datepicker({label,placehld,name,size="--middle-size"}={})
  - mixinCount++;
  - let inputTypeClass = `filter-date-dropdown__input`;
  - let compoundId = `filterdatepicker-el-${mixinCount}`;
  div(class=`filter-date-dropdown ${size}`)
    label(for=compoundId)= label
    br

    input(
      type="text",
      placeholder=placehld,
      name=name ? name : compoundId,
      ,
      class=inputTypeClass,
      id=compoundId
    )
