mixin range-slider(userOptions={})
  -
    mixinCount++;
    //- const { name = `range-el-${mixinCount}`, min = 1, max = 10, value = [], step = 1 } = options;
    const defaultOptions = {
      name: `range-el-${mixinCount}`,
      min: 1, max: 10,
      value: [], step: 1
      }
    let options = userOptions?Object.assign({}, defaultOptions,userOptions):defaultOptions;

  .range-slider
    .range-slider__text
      .range-slider__label= options.label
      .range-slider__value-text= `${options.value[0]}\u20BD  - ${options.value[1]}\u20BD`

    input.range-slider__input-left(
      type="range",
      id=options.name + "-left",
      name=options.name,
      min=options.min,
      max=options.max,
      step=options.step,
      value=options.value[0]
    )
    input.range-slider__input-right(
      type="range",
      id=options.name + "-right",
      name=options.name,
      min=options.min,
      max=options.max,
      step=options.step,
      value=options.value[1]
    )
    .range-slider__slider 
      |
      .range-slider__track 
      .range-slider__range
      .range-slider__thumb.thumb-left 
      .range-slider__thumb.thumb-right
    if options.undertext
      .range-slider__undertext= options.undertext
