mixin input(type, label, placehld,size)
  - mixinCount++;
  - let noLabel = "";
  - if (!label) { noLabel = "--noLabel";} 

  div(class=`input-container --${size}-size ${noLabel}`)
    label(for=`input-el-${mixinCount}`)= label
    - let inputTypeClass = `input-container__${type.toLowerCase()}-input`;
    input(
      type=type,
      placeholder=placehld,
      name=`${type.toLowerCase()}-input`,
      class=inputTypeClass,
      id=`input-el-${mixinCount}`
    )
