mixin header-startpage
  header.header-startpage
    +image("logo-grey")

mixin header-ui
  header.header-ui
    .header-ui__inner
      .header-ui__logo
        +image("logo-grey","Logo")

mixin header(userOptions={})
  -
    const defaultOptions = { navItems: {
      1: { text: "О нас", active: true },
      2: {
       text: "Услуги",
       subItems: {
         1: { text: "Проживание" },
         2: { text: "Питание" },
         3: { text: "Химчистка" },
         4: { text: "Парикмахерская" },
         5: { text: "Аренда помещений" },
         6: { text: "Обмен валюты" },
         7: { text: "Прокат автомобилей" },
         },
       },
      3: { text: "Вакансии" },
      4: { text: "Новости" },
      5: {
      text: "Соглашения",
      subItems: { 1: { text: "О сотрудничестве" }, 2: { text: "О туризме" } },
      },
     },
     buttons: true
    };
  -
    let options = {}
    options.navItems = userOptions ? Object.assign(defaultOptions.navItems, userOptions.navItems) : defaultOptions.navItems;
    options.buttons = userOptions.buttons?userOptions.buttons : defaultOptions.buttons;

  -
    let ul = `main`, ulCount=0; 

    function getTree(items) {
    let html = `<ul class='header__nav-list-${ul}'>`;
        for (let item of Object.values(items)) {
          let href = item.href?item.href:'#';
        if (!item.subItems) {
          let linkActive = item.active?`--active`:""
          html += `<li><a href='${href}' class='header__nav-link ${linkActive}'>`;
          html += item.text;
          html += "</a></li>";
        } else {
          ulCount++;
          ul = `sub`;
          html += `<li class='header__nav-li-haslist icon-arrow_down' id='sublist-${ulCount}'><a href='${href}' class='header__nav-link'>`;
          html += `${item.text}`;
          html += `</a>${getTree(item.subItems)}</li>`;
          }
      }
    html += "</ul>";
    return html;
    }
  header.header
    .container 
      |
      |
      |
      |
      |
      |
      |
      .header__inner 
        |
        |
        |
        |
        |
        |
        |
        .header__logo
          .header__logo-cycle
            a(href="#")
              +image("logo-colored","logo") 
          .header__logo-text
            a(href="#")
              +image("toxin","logo") 
        nav.header__nav
          .header__nav-links
            != getTree(options.navItems)
          if (options.buttons==true)
            .header__buttons
              +button({text: "войти", style: "bordered",size: "flex-size"})
              +button({text: "зарегистрироваться", style: "filled",size: "flex-size"})
