mixin checkbox({label,style= "regular",subtitle,name,checked}={})
  - mixinCount++;
  - let gId = `checkbox-el-${mixinCount}`;
  - let sub = subtitle ? subtitle : null;
  - let ch = checked ? checked : "";
  - let labelstyle = style ? ` --${style}` : "";
    .checkbox
      label.checkbox__label(for=gId)
        input(type="checkbox", id=gId, name=name ? name : gId, checked=checked)
        span.checkbox__checkmark
        div(class=`checkbox__label-text${labelstyle}`)= label
          span.checkbox__label-subtitle= sub
