mixin logo(userOptions ={})
  -
    let defaultOptions = {style:"colored-full", href:"#"};
    let options=userOptions?Object.assign({}, defaultOptions,userOptions):defaultOptions;
    let image = "logo-colored";
    if(options.style == "grey-small"){
      image = "logo-grey";
     }
  div(class=`logo --${options.style}`)
    if options.style == "colored-full"
      .logo__circle 
        |
        a(href=options.href)
          +image(`${image}`,"logo") 
      .logo__text
        a(href=options.href)
          +image("toxin","logo")
    else if options.style =="colored-small"
      .logo__circle
        a(href=options.href)
          +image(`${image}`,"logo") 
